@layout('layouts.app')

@section('title')
JobPostr - Login
@endsection

@section('content')
  <h1>Login</h1>

  @each(job in jobs)
  <div class="job-container">
    
  </div>
  @endeach
  
@endsection